<main>
  <h1> Chat</h1>
  <div class="info">
    <p class="username">User:</p>
  </div>
  <div id="message_logs"></div>
  <input type="text" id="chat_box" placeholder="Write a message..."/>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>