* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-color: rgba(255, 255, 255, .16) transparent;
}

body {
    background: #1e1e1e; 
}
main {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 1rem;
    border-radius: 3%;
    min-height: 100vh;
    max-height: 100vh;
}

main h1 {
    color: #fff;
    margin-bottom: 1rem;
}

main .info {
    width: 375px;
    padding: .5rem;
    margin-bottom: 2px;
    font-weight: bold;
}

main .info select {
    padding: 5px 10px;
    border: none;
    background-color: inherit;
    font-weight: bold;
    text-align: end;
}

main .username {
    color: rgb(245, 245, 245);
}

main #message_logs {
    width: 375px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    border: 4px solid rgb(245, 245, 245);
    padding: .5rem;
    background-position: center;
    background-size: cover;
}

main #message_logs .own_msg,
main #message_logs .other_msg {
    max-width: 60%;
    margin: 2px;
    padding: 3px 5px;
    background-color: rgb(245, 245, 245);
    color: #333;
    border-radius: 5px;
    word-wrap: break-word;
}

main #message_logs .own_msg {
    align-self: flex-end;
    text-align: end;
}

main #message_logs .other_msg {
    align-self: flex-start;
}

main #chat_box {
    width: 375px;
    margin-bottom: 2rem;
    padding: 15px 5px;
    font-size: 1rem;
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
}