<header>
  <nav>
    <ul class="nav">
      <li><a class="link-item" href="/">Home</a></li>
      <li><a class="link-item" href="/realTimeProducts">RealTimeProducts</a></li>
      <li><a class="link-item" href="/api/carts/6474914326a157d7395857d5">Cart</a></li>
      <li><a class="link-item" href="/chat">Chat</a></li>
    </ul> 
  </nav>
</header>